*{
    margin: 0;
    padding: 0;
}

.navbar {
    position: sticky;
    top: 0;
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    background-color: black;
    color: white;
    font-family: 'Teko', sans-serif;
    font-size: 1.4rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    align-content: center;
}

.nav {
    margin: 0.6rem;
    margin-right: 0;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 0.2rem;
    padding-bottom: 0.2rem;
    border-radius: 2%;
}

.logo {
    text-decoration: none;
    color: white;
    padding: 0;
    font-size: 2rem;
    position: absolute;
    left: 49%;
}

.nav:hover {
    cursor: pointer;
    background-color: rgba(255, 255, 255, 0.219);
}

.logo:hover {
    cursor: pointer;
}

.feel {
    position: absolute;
    right: 0;
    top: 3.61rem;
    height: 90vh;
}

.image {
    background-color: #f2f2f2;
    height: 90vh;
    display: flex;
    align-items: center;
}

.text {
    font-family: 'Bebas Neue', cursive;
    /* position: absolute; */
    left: 3rem;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    background-image: linear-gradient(
90deg,  #00000036, #00000017, transparent);
    align-content: center;
    z-index: 2;
}

.revolution {
    padding: 3rem;
    font-size: 5rem;
    width: 40%;
    text-shadow: 17px 11px 8px #0000004f;
    z-index: 3;
    color: #000000;
}

.afterImage {
    height: 100vh;
    background-color: white;
    z-index: 4;
}



/* 2nd part (slider) */

.image-slider {
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
}

.slider {
    width: 800px;
    height: 500px;  
    overflow: hidden; 
}

.slides {
    width: 500%;
    height: 500px;
    display: flex;
}

.slides input {
    display: none;
}

.slide {
    width: 20%;
    transition: 2s;
}

.slide img {
    width: 800px;
    height: 500px;
}

/* css for manual slide navigation */

.navigation-manual {
    position: absolute;
    width: 800px;
    margin-top: -40px;
    display: flex;
    justify-content: center;
}

.manual-btn {
    border: 2px solid white;
    padding: 5px;
    border-radius: 100%;
    cursor: pointer;
    transition: 0.5s;
}

.manual-btn:not(:last-child) {
    margin-right: 20px;
}

.manual-btn:hover {
    background-color: white
}

#radio1:checked ~ .first {
    margin-left: 0;
}
#radio2:checked ~ .first {
    margin-left: -20%;
}
#radio3:checked ~ .first {
    margin-left: -40%;
}

/* css for automatic navigation */

.navigation-auto {
    position: absolute;
    display: flex;
    width: 800px;
    justify-content: center;
    margin-top: 460px;
}

.navigation-auto div {
    border: 2px solid white;
    padding: 5px;
    border-radius: 100%;
    transition: 1s;
}

.navigation-auto div:not(:last-child) {
    margin-right: 20px;
}

#radio1:checked ~ .navigation-auto .auto-btn1 {
    background: white;
}
#radio2:checked ~ .navigation-auto .auto-btn2 {
    background: white;
}
#radio3:checked ~ .navigation-auto .auto-btn3 {
    background: white;
}
